:root {
	--size: 315px;
}

.jatekter {
    width: var(--size);
    height: var(--size);
    border: solid black 3px;
    display: flex;
    flex-wrap: wrap;
    max-width: var(--size); /* Számítógépen nem haladja meg a változó méretét */
    max-height: var(--size); /* Számítógépen nem haladja meg a változó méretét */
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

/* Telefonokra vonatkozó szabályok */
@media (max-width: 768px) {
    .jatekter {
        max-width: 90vw; /* Kisebb képernyőkön a maximális szélesség a képernyő 90%-a */
        max-height: 90vh; /* Kisebb képernyőkön a maximális magasság a képernyő 90%-a */
        overflow: auto; /* Görgetősáv kisebb képernyőkön */
    }
}

.jatekter div {
	width: 35px;
	height: 35px;
}

.kijelzo {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

.gombok {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

button {
	height: 50px;
	width: 150px;
	font-size: 115%;
	vertical-align: middle;
}

img {
	transform: translateY(-36px);
}

body {
	background-image: url(assets/hatterKep.jpg);
	color: white;
}