.jatekter {
	width: 525px;
	height: 525px;
	border: solid black 3px;
	display: flex;
	flex-wrap: wrap;

	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;

	background-color: white;
}

.eredmeny {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	font-size: 225%;
}

.gombok {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

.kijelzo {
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	margin-top: 3%;
}

button {
	height: 50px;
	width: 150px;
	font-size: 115%;
	vertical-align: middle;
}

.jatekter div {
	width: 35px;
	height: 35px;
}

body {
	background-image: url(assets/hatterKep.jpg);
	color: white;
}